@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
  <h1> Witam na stronie</h1>
  <h2> Wyżej znajdują sie linki do danych stref czasowych</h2>
</div>
